.modalHeader{
  padding-top: env(safe-area-inset-top);
  /* margin-top: 50px; */
  /* padding-top: 50px; */
  background-color: red;
}

/* ion-toolbar {
  padding-top: 50px !important;
} */

/* ion-header {
  margin-top: 20px !important;
} */
